@import "./styles/tokens.css";
@import "./styles/base.css";
@import "./styles/component-cards.css";

html {
  font-family: var(--font-family);
  font-feature-settings: "ss01", "cv11";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  background: var(--color-bg-quiet);
  color: var(--color-text-solid);
  font-size: var(--font-text-md-size);
  line-height: var(--font-text-md-lineHeight);
  font-weight: var(--font-weight-normal);
}

*, *::before, *::after {
  box-sizing: border-box;
}
